@import url(../utility/global.css);

.switch-language-bar {
  padding: 
    var(--switch-language-bar-padding-top-bottom) 
    var(--switch-language-bar-padding-left-right);
  position: absolute;
  top: 0;
  width: var(--switch-language-bar-width);
  height: var(--switch-language-bar-height);
  box-sizing: border-box;
  justify-content: center;
  display: block;
  z-index: 10;
}

.switch-button {
  right: 0;
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: background-color 0.15s ease-in;
}

.switch-button:hover {
  background-color: var(--_hover-icon-color);
}