@import url(../utility/global.css);

.login-page {
  background-color: var(--main-background-color);
  color: var(--font-color);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.login-container {
  margin-top: 30px;
  background-color: var(--container-background-color);
  padding: 20px 40px;
  border-radius: var(--panel-border-radius);
}

.login-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.login-container p {
  font-size: medium;
}

.login-container #register-btn {
  background-color: transparent;
  border: 0;
  color: var(--link-color);
  font-weight: bold;
  font-size: medium;
}

.login-container #register-btn:hover {
  cursor: pointer;
}

.login-container #login-btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: var(--big-button-height);
  padding: 15px;
  font-size: 20px;
  background-color: var(--button-color);
  border: 0;
  border-radius: 30px;
  transition: 
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.login-container #login-btn:hover {
  background-color: var(--_hover-button-color);
  box-shadow: 2px 2px 2px var(--shadow-opacity-color);
}

.login-container .text {
  margin-top: 30px;
}

.login-container .form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.login-container .form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--font-color);
  font-size: 18px;
  display: block;
  width: 100%;
  padding: 15px 0;
  position: relative;
  z-index: 100;
}

.login-container .form-control input:focus,
.login-container .form-control input:active {
  outline: none;
  border-bottom-color: var(--font-color);
}

.login-container .form-control label {
  position: absolute;
  left: 0;
  top: 15px;
  pointer-events: none;
  font-size: 18px;
  color: var(--link-color);
}

.login-container .form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.login-container .form-control input:focus + label span,
.login-container .form-control input:valid + label span {
  color: var(--link-color);
  transform: translateY(-30px);
}