@import url(../utility/global.css);

.working-page {
  background-color: var(--main-background-color);
  color: var(--font-color);
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 0;
}

.working-container {
  background-color: var(--container-background-color);
  margin-top: 120px;
  margin-bottom: 60px;
  padding: 20px 40px;
  border-radius: var(--panel-border-radius);
  width: 80vw;
  min-height: 70%;
}

.cases-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  margin-bottom: 30px;
}

.cases-table-container table {
  margin-top: 20px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.cases-table-container table th:nth-child(1),
.cases-table-container table td:nth-child(1) {
  width: 25%;
}

.cases-table-container table th:nth-child(2),
.cases-table-container table td:nth-child(2) {
  width: 30%;
}

.cases-table-container table th:nth-child(3),
.cases-table-container table td:nth-child(3) {
  width: 15%;
}

.cases-table-container table th:nth-child(4),
.cases-table-container table td:nth-child(4) {
  width: 15%;
}

.cases-table-container table th:nth-child(5),
.cases-table-container table td:nth-child(5) {
  width: 15%;
}

.cases-table-container table thead tr th {
  background-color: var(--table-head-background-color);
  font-size: 1.25em;
  font-weight: 600;
  padding: 16px 16px;
  overflow-x: auto;
}

.cases-table-container table > tbody > tr > th {
  padding: 8px 16px;
  font-weight: 500;
}

.cases-table-container table > thead > tr > th:first-of-type {
  border-top-left-radius: var(--panel-border-radius);
  border-left:    1px solid var(--table-border-color);
  border-right:   1px solid var(--table-border-color);
  border-bottom:  1px solid var(--table-border-color);
  border-top:     1px solid var(--table-border-color);
}

.cases-table-container table > thead > tr > th:not(:first-of-type) {
  border-right:   1px solid var(--table-border-color);
  border-bottom:  1px solid var(--table-border-color);
  border-top:     1px solid var(--table-border-color);
}

.cases-table-container table > thead > tr > th:last-of-type {
  border-top-right-radius: var(--panel-border-radius);
}

.cases-table-container table > tbody > tr:last-of-type > th:first-of-type {
  border-bottom-left-radius: var(--panel-border-radius);
}

.cases-table-container table > tbody > tr:last-of-type > th:last-of-type {
  border-bottom-right-radius: var(--panel-border-radius);
}

.cases-table-container table > tbody > tr > th:first-of-type {
  border-left:    1px solid var(--table-border-color);
  border-right:   1px solid var(--table-border-color);
  border-bottom:  1px solid var(--table-border-color);
}

.cases-table-container table > tbody > tr > th:not(:first-of-type) {
  border-bottom:  1px solid var(--table-border-color);
  border-right:   1px solid var(--table-border-color);
}

.button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--input-padding) 0;
}

.active .cancel-button-container {
  flex: 1;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active .cancel-button-container button {
  padding: 
    var(--cancel-or-confirm-button-padding-top-bottom)
    var(--cancel-or-confirm-button-padding-left-right);
  color: var(--link-color);
  background-color: var(--cancel-button-background-color);
  cursor: pointer;
  border: 1px solid var(--cancel-button-border-color);
  border-radius: var(--cancel-or-confirm-button-border-radius);
  transition: 
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.active .confirm-button-container {
  flex: 1;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active .confirm-button-container button {
  padding: 
    var(--cancel-or-confirm-button-padding-top-bottom)
    var(--cancel-or-confirm-button-padding-left-right);
  color: var(--link-color);
  background-color: var(--confirm-button-background-color);
  cursor: pointer;
  border: 1px solid var(--confirm-button-background-color);
  border-radius: var(--cancel-or-confirm-button-border-radius);
  transition: 
    border-color 0.3s ease-out,
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.active .confirm-button-container button:hover {
  background-color: var(--_hover-confirm-button-background-color);
  border: 1px solid var(--_hover-confirm-button-background-color);
  box-shadow: 2px 2px 2px var(--shadow-opacity-color);
}

.active .cancel-button-container button:hover {
  background-color: var(--_hover-cancel-button-background-color);
  box-shadow: 2px 2px 2px var(--shadow-opacity-color);
}

.abstract-modal-background:not(.active) .confirm-button-container button,
.abstract-modal-background:not(.active) .cancel-button-container button {
  opacity: 0;
}

.cases-table .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cases-table .buttons-container button {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cases-table .buttons-container button:hover {
  background-color: var(--_hover-icon-color);
}

.cases-table-toolbar {
  height: 60px;
}

.cases-table-toolbar .button-components {
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cases-table-toolbar .button-components button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transition: background-color 0.15s ease-in;
}

.cases-table-toolbar .button-components button:hover {
  background-color: var(--_hover-icon-color);
}

.cases-table-toolbar .query-form-container {
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cases-table-toolbar .query-form-container .query-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cases-table-toolbar .query-form-container button {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  transition: background-color 0.15s ease-in;
}

.cases-table-toolbar .query-form-container button:hover {
  background-color: var(--_hover-icon-color);
}
