:root {

  /* color */

  --main-background-color: #f4ede4;
  --container-background-color: #fff8f2;
  --link-color: #745b19;
  --font-color: #000;
  --button-color: #f5e1bb;
  --_hover-button-color: #d5c099;
  --_hover-icon-color: rgba(0, 0, 0, 0.1);
  --shadow-opacity-color: rgba(0, 0, 0, 0.2);

  /* border-radius */

  --panel-border-radius: 15px;
  --big-button-height: 60px;

  /* size */

  --switch-language-bar-padding-top-bottom: 12px;
  --switch-language-bar-padding-left-right: 16px;
  --switch-language-bar-height: 60px;
  --switch-language-bar-width: 100%;
}